/* import 'Poppins' font-family */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* FONT-FAMILY STYLES START */
.font-poppins {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* FONT-FAMILY STYLES END */

:root {
  --color-primary: #dd0000;
  --color-background-primary: #161616;
}

/* CSS RESET STYLES START */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
}
/* CSS RESET STYLES END */

/* UTILITY STYLES START */
.container-max {
  max-width: 1440px;
  margin: 0 auto;
}

.nowrap {
  white-space: nowrap;
}

/* UTILITY STYLES END */

/* MAIN STYLES START */
main {
  padding: 0 1rem;
}
/* MAIN STYLES END */

/* BANNER SECTION STYLES START */
#banner {
  display: flex;
  background-color: var(--color-background-primary);
  border-radius: 30px;
  justify-content: space-between;
  margin: 5rem auto 6.25rem;
}

#banner-content {
  width: 40%;
  align-self: center;
  margin-left: 10rem;
}

#banner-title {
  color: white;
  font-size: 4.375rem;
  font-weight: bold;
  line-height: 5rem;
  margin-bottom: 1.25rem;
}

#banner-description {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.625rem;
  margin-bottom: 1.875rem;
}

#banner-btn {
  color: white;
  font-size: 1.25rem;
  font-weight: 500;
  background-color: var(--color-primary);
  padding: 1rem 1.5625rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#banner-img-container {
  width: 40%;
  padding-top: 2rem;
  padding-right: 1rem;
  align-self: flex-end;
  /* border: 1px solid white; */
}

#banner-img {
  width: 100%;
  height: auto;
}

/* BANNER SECTION STYLES END */
